
h1 {
    font-family: 'Montserrat', sans-serif;
    color: #b30000;
    margin: 0 20px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #4b4a4a;
    margin: 0 20px;
}

#containerLinksObra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.link {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 5px 10px 5px 10px;
    color: darkred;
    text-decoration: none;
}

#accordionExample {
    width: 50%;
}

@media(max-width: 768px) {
    .ContainerHeaders {
        flex-direction: column;
    }

    #accordionExample {
        width: 100%;
    }
}

.accordion-button {
    color: darkred;
}

    .accordion-button:before {
        background-color: #b30000;
        border: 1px solid red;
    }

    .accordion-button:not(.collapsed) {
        background-color: white;
        color: darkred;
    }

    .accordion-button:focus {
        border-color: red;
        box-shadow: 0 0 8px rgba(102, 102, 102, 0.2);
    }


.accordion-body {
    margin: 0px;
    padding: 0px;
}


.link:hover {
    color: #ff4b4b;
    background-color: #490000;
}


.containerVolver {
    margin-top:20px;
}

.volver {
    color: darkred;
}

    .volver:hover {
        color: red;
    }

.info {
    padding: 16px;
}

.label {
    font-weight: bold;
    color: #333;
    padding: 10px;
}

.value {
    color: #555;
    padding: 10px;
}
.row {
    margin-bottom: 12px;
}

