.contenedor{
    background-color: rgba(0, 0, 0, 0.700);
    display: grid;
    grid-template-columns: repeat(7, 170px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;

}

.article{
    text-align: center;
}

.a{
    text-decoration: none;
    color: white;
}

.img{
    width: 200px;
    height: 200px;
}
    

