/* listado.css */

/* Estilo para el contenedor principal del listado */
.listado-container {
    padding: 20px;
    text-align: center;
}

    .listado-container a {
        border: 3px solid #dee2e6;
        background-color: #737373;
        color: #fff;
    }
        .listado-container a:hover {
            border: 3px solid #dee2e6;
            background-color: #545454;
            color: #fff;
        }

/* Estilo para los encabezados de las tablas */
.table thead th {
    background-color: #737373;
    color: #fff;
    text-align: left;
    padding: 10px;
}

.title {

}

/* Estilo para las filas de la tabla */
.table tbody tr {
    border-bottom: 3px solid #dee2e6;
}

/* Estilo para las celdas de la tabla */
.table td {
    vertical-align: middle;
}

/* Estilo para las celdas de la tabla */
.table td p {
    vertical-align: middle;
}

/* Resaltar filas con un color específico */
.resaltar-rojo {
    background-color: #f8d7da;
    color: #721c24;
}

.table {
    border: 3px solid black;
}

    /* Estilo para los enlaces dentro de las celdas */
    .table td a {
        color: #fff;
        text-decoration: none;
    }

        .table td a:hover {
        }

/* Estilo para los botones de acción */
.btn {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #414042;
    color: #fff;
}

    .btn-primary:hover {
        background-color: #545454;

    }

.btn-secondary {
    background-color: #414042;
    color: #fff;
}

    .btn-secondary:hover {
        background-color: #545454;
    }
