
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
}

.flex-container-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#bienvenido {
    display:block;
    font-family: "PT Serif", serif;
    font-size: 50px; /* Tamaño de fuente más grande */
    color: aliceblue; /* Color negro */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

#btn-login {
    transition: transform 0.3s;
}

#btn-login :hover {
     transform: scale(1.15);
}

.flex-container-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.control-label {
}

.container {
    text-align: center;
    
}

.containerFlex {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    color:aliceblue;
}

.containerIzq {
    height: 110vh;
    width: 40%;
    background-color: #c00000;
   display:flex;
   justify-content:center;
   align-items:center;
    text-align: center;
    font-size: 40px;
    font-family: "PT Serif", serif;
}

.containerDer {
    width: 60%;
    height: 110vh;
    background-color: #525252;
    display: flex;

    
}

.formLogin {
    padding:0px;
    margin:auto;
    align-content:center;
    text-align: center;
    flex-direction: column;
    width:50%;
}


@media (min-width: 375px) and (max-width: 667px) {

    .containerFlex {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }

    .containerIzq {
        height: 30vh;
        width: 100%;
        background-color: #30c44e;
        text-align: center;
        font-size: 40px;
        font-family: "PT Serif", serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .containerDer {
        width: 100%;
        height: 70vh;
        background-color: #525252;
        display: flex;
    }
}