body {
}


@media(max-width: 600px) {


    .columnaAEsconderObra{
        display:none;
    }
    .columnaAEsconderLiquidacion{
        display:none;
    }


}


@media(max-width: 800px) {

    .columnaAEsconderLiquidacion {
        display: none;
    }
}
